<launch>
    <arg name="load_robot_description" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="config" default="false"/>

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <arg unless="$(arg config)" name="command_args" default="" />
    <arg     if="$(arg config)" name="command_args" default="-d $(env HOME)/.rviz/moveit_pr2.rviz" />

    <include file="$(find pr2_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>

    <node name="$(anon rviz)" pkg="rviz" type="rviz" launch-prefix="$(arg launch_prefix)" args="$(arg command_args)">
        <rosparam command="load" file="$(find pr2_moveit_config)/config/kinematics.yaml"/>

        <!-- load collision checking parameters here -->
        <rosparam command="load" file="$(find pr2_sbpl_interface_config)/config/sbpl_planning.yaml"/>
    </node>
</launch>
